@use 'sass:map';
@use 'sass:color';

$layout-base: () !default;
$layout-base: map.merge(
  (
    'font-size': 14px,
    'padding': 20px,
    'margin': 20px,
    'border-color': #dcdfe6,
    'border-radius': 2.5px,
    'z-index': 1999,
    'box-shadow': 0 1px 4px rgba(0, 21, 41, 0.08),
    'transition':
      'all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border 0s, color 0.1s, font-size 0s'
  ),
  $layout-base
);

$color-white: #fff !default;
$color-primary: #1890ff !default;
$color-gray: rgba(0, 0, 0, 0.65) !default;
$color-black: #515a6e !default;

$layout-color: () !default;
$layout-color: map.merge(
  (
    'white': $color-white,
    'primary': $color-primary,
    'primary-light-1': color.mix($color-white, $color-primary, 10%),
    'primary-light-2': color.mix($color-white, $color-primary, 20%),
    'primary-light-3': color.mix($color-white, $color-primary, 30%),
    'primary-light-4': color.mix($color-white, $color-primary, 40%),
    'primary-light-5': color.mix($color-white, $color-primary, 50%),
    'primary-light-6': color.mix($color-white, $color-primary, 60%),
    'primary-light-7': color.mix($color-white, $color-primary, 70%),
    'primary-light-8': color.mix($color-white, $color-primary, 80%),
    'primary-light-9': color.mix($color-white, $color-primary, 90%),
    'gray': $color-gray,
    'black': $color-black
  ),
  $layout-color
);

$layout-logo: () !default;
$layout-logo: map.merge(
  (
    'title-color': #fff,
    'height': 60px
  ),
  $layout-logo
);

$layout-header: () !default;
$layout-header: map.merge(
  (
    'height': 60px
  ),
  $layout-header
);

$layout-footer: () !default;
$layout-footer: map.merge(
  (
    'height': 55px
  ),
  $layout-footer
);

$layout-topbar: () !default;
$layout-topbar: map.merge(
  (
    'height': 60px
  ),
  $layout-topbar
);

$layout-navbar: () !default;
$layout-navbar: map.merge(
  (
    'height': 60px
  ),
  $layout-navbar
);

$layout-tabbar: () !default;
$layout-tabbar: map.merge(
  (
    'height': 50px,
    'tab-height': 34px
  ),
  $layout-tabbar
);

$layout-sidebar: () !default;
$layout-sidebar: map.merge(
  (
    'folded-width': 64px,
    'unfolded-width': 266px
  ),
  $layout-sidebar
);

$layout-app-main: () !default;
$layout-app-main: map.merge(
  (
    'unfolded-width': calc(100% - #{map.get($layout-sidebar, 'folded-width')}),
    'height':
      calc(
        100vh - #{map.get($layout-navbar, 'height')} - #{map.get(
            $layout-tabbar,
            'height'
          )} - #{map.get($layout-base, 'padding') * 2} - #{map.get(
            $layout-footer,
            'height'
          )}
      )
  ),
  $layout-app-main
);

$light-menu-bg-color: #fff !default;
$dark-menu-bg-color: #282c34 !default;

$layout-menu: () !default;
$layout-menu: map.merge(
  (
    'height': 40px,
    'item-height': 50px,
    'color': rgba(255, 255, 255, 0.95),
    'color-active': rgba(255, 255, 255, 0.95),
    'bg-color': $dark-menu-bg-color,
    'bg-color-active': $color-primary
  ),
  $layout-menu
);
