@use 'mixins/mixins' as *;

@include b(app-main) {
  width: 100%;
  padding: getCssVar('base', 'padding');
  overflow: hidden;
  transition: getCssVar('base', 'transition');

  [class$='-container'] {
    min-height: getCssVar('app-main', 'height');
    background-color: getCssVar('color', 'white');
    transition: getCssVar('base', 'transition');
  }
}
