@use 'sass:map';

@use '../src/common/var' as *;

:export {
  menuColor: map.get($layout-menu, 'color');
  menuColorActive: map.get($layout-menu, 'color-active');
  menuBgColor: map.get($layout-menu, 'bg-color');
}
